<launch>
    <node name="retrieve_object_simulator" pkg="grasping_executive" type="retrieve_object_simulator" output="screen">
        <rosparam command="load" file="$(find grasping_executive)/config/retrieve_object_simulator.yaml"/>
        <rosparam command="load" file="$(find gascan_grasp_planning)/config/gas_canister_v2.yaml"/>
        <remap from="fixed_occupancy_grid" to="fixed_costmap_sim"/>
    </node>
</launch>
