<launch>
    <arg name="debug" default="false"/>

    <arg if="$(arg debug)" name="launch_prefix" value="gdb ex --args"/>
    <arg unless="$(arg debug)" name="launch_prefix" value=""/>

    <include file="$(find roman_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

    <!--include file="$(find object_manipulation_planner)/launch/upload_cabinet.launch"/-->
    <include file="$(find object_manipulation_planner)/launch/upload_crate.launch"/>

    <node name="$(anon door_demonstrator)" pkg="object_manipulation_planner" type="door_demonstrator" launch-prefix="$(arg launch_prefix)">
        <!-- remap output of MoveGroupCommandPanel to input robot state -->
        <remap from="robot_state" to="command_robot_state"/>

        <!-- the link of the object to run IK for to follow the position of the
             robot's end effector -->
        <param name="object_tip_link" value="handle"/>

        <!-- the robot link used to test if the object has been grasped and
             to have the object follow when grasped -->
        <param name="robot_tip_link" value="limb_right_tool0"/>

        <!-- the file to store the recorded demonstration in -->
        <param name="demo_filename" value="cabinet_demo.csv"/>

        <!-- the robot joint group whose positions to record -->
        <param name="group_name" value="right_arm_torso_base"/>

        <!-- enable/disable recording the robot and object movements -->
        <param name="record" value="false"/>

        <!-- configure the tolerances for testing whether the robot has
             grasped the object -->
        <param name="contact_error_z" value="0.10"/>
        <param name="contact_error" value="0.02"/>

        <rosparam param="robot_record_variables">
            - world_joint/x
            - world_joint/y
            - world_joint/theta
            - torso_joint1
            - limb_right_joint1
            - limb_right_joint2
            - limb_right_joint3
            - limb_right_joint4
            - limb_right_joint5
            - limb_right_joint6
            - limb_right_joint7
        </rosparam>
        <rosparam param="object_record_variables">
            - lid_joint
        </rosparam>

        <!-- OBJECT POSE -->

        <!-- cabinet -->
        <param name="object_x" value="2.0"/>
        <param name="object_y" value="0.0"/>
        <param name="object_z" value="0.4"/>
        <param name="object_yaw" value="3.1415926"/>
        <param name="object_pitch" value="0.0"/>
        <param name="object_roll" value="0.0"/>

        <!-- cabinet -->
        <!--
        <param name="object_x" value="2.0"/>
        <param name="object_y" value="-1.0"/>
        <param name="object_z" value="0.4"/>
        <param name="object_yaw" value="3.1415926"/>
        <param name="object_pitch" value="0.0"/>
        <param name="object_roll" value="0.0"/>
        -->

        <!-- cabinet -->
        <!--
        <param name="object_x" value="1.0"/>
        <param name="object_y" value="2.0"/>
        <param name="object_z" value="0.4"/>
        <param name="object_yaw" value="-1.570796"/>
        <param name="object_pitch" value="0.0"/>
        <param name="object_roll" value="0.0"/>
        -->

        <!-- crate -->
        <param name="object_x" value="0.85"/>
        <param name="object_y" value="0.0"/>
        <!--param name="object_z" value="0.105"/-->
        <param name="object_z" value="-0.03113"/>
        <param name="object_yaw" value="1.570796"/>
        <param name="object_pitch" value="0.0"/>
        <param name="object_roll" value="0.0"/>

        <!-- OBJECT CONFIGURATION -->

        <rosparam param="object_positions">
            handle_joint: 0.0
        </rosparam>
    </node>
</launch>
