<launch>
    <!-- <arg name="scenario"/> -->
    <arg name="scenario" default="$(find object_manipulation_planner)/tests/test-1.yaml"/>
    <arg name="execute" default="false"/>
    <arg name="allowed_planning_time" default="15.0"/>
    <include file="$(find object_manipulation_planner)/launch/manipulate_object_params.launch">
        <arg name="scenario" value="$(arg scenario)"/>
        <arg name="execute" value="$(arg execute)"/>
        <arg name="allowed_planning_time" value="$(arg allowed_planning_time)"/>
    </include>
    <node name="manipulate_object" pkg="object_manipulation_planner" type="manipulate_object" clear_params="true"/>
</launch>
