<launch>
    <arg name="sim" default="false"/>

    <include file="$(find robotiq_controllers)/launch/gripper_command_action.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <group if="$(arg sim)">
        <node name="robotiq_simulator" pkg="robotiq_controllers" type="robotiq_simulator"/>
    </group>
</launch>

