<launch>
    <!-- See comments in andalite.launch. This file is old -->

    <arg name="sim"/>
    <arg name="kinect_sensor"/>

    <!-- Upload correct URDF -->
    <group if="$(arg sim)">
        <group if="$(arg kinect_sensor)">
            <param name="robot_description" command="$(find xacro)/xacro.py '$(find andalite_description)/robots/andalite_with_kinect.xacro'"/>
        </group>
        <group unless="$(arg kinect_sensor)">
            <!-- TODO: describe xtion camera in sim mode -->
            <param name="robot_description" command="$(find xacro)/xacro.py '$(find andalite_description)/robots/andalite_with_asus.xacro'"/>
        </group>
    </group>

    <group unless="$(arg sim)">
        <group if="$(arg kinect_sensor)">
            <param name="robot_description" command="$(find xacro)/xacro.py '$(find andalite_description)/robots/andalite_no_kinect.xacro'"/>
        </group>
        <group unless="$(arg kinect_sensor)">
            <param name="robot_description" command="$(find xacro)/xacro.py '$(find andalite_description)/robots/andalite_no_asus.xacro'"/>
        </group>
    </group>

    <!-- Upload SRDF -->
    <!-- TODO: these uploads should be moved to hdt_moveit_config -->
    <param name="robot_description_semantic" textfile="$(find rcta)/config/robots/husky_roboto/moveit/husky_roboto.srdf"/>

    <!-- Upload MoveIt! kinematics plugin parameters -->
    <!-- TODO: see above note -->
    <rosparam command="load" file="$(find hdt_moveit_config)/config/kinematics.yaml"/>
</launch>
