<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!--
    Provides:
         a canonical camera frame
         one fixed transform from the mounting frame to the camera frame
    -->

    <xacro:macro name="asus_xtion_pro_live" params="name parent *origin">
        <!-- fixed transform for the base of the asus -->
        <joint name="${name}_mount_joint" type="fixed">
            <insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${name}_link"/>
        </joint>

        <!-- canonical frame of the camera -->
        <link name="${name}_link"/>
    </xacro:macro>
</robot>
