<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Provides:
         one fixed transform for the base of the asus
         one fixed transform -->

    <xacro:macro name="asus_xtion_pro_live" params="name parent *origin">
        <!-- fixed transform for the base of the asus -->
        <joint name="${name}_mount_joint" type="fixed">
            <insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${name}_base_link"/>
        </joint>

        <!-- fixed transform from the camera base frame to the canonical camera frame -->
        <joint name="${name}_frame_joint" type="fixed">
            <parent link="${name}_base_link"/>
            <child link="${name}_link"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>

        <!-- dummy link for offset from mounting link and canonical camera frame -->
        <link name="${name}_base_link"/>
        <link name="${name}_link"/>
    </xacro:macro>
</robot>
