<launch>
    <arg name="debug" default="false"/>
    
    <include file="$(find pr2_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find hdt)/launch/moveit_pr2/moveit_rviz.launch">
        <arg name="config" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>
</launch>
