<launch>
    <node name="husky_simulator" pkg="hdt" type="joint_state_simulator">
        <rosparam>
            joint_names: [ "joint_front_right_wheel",
                           "joint_front_left_wheel",
                           "joint_back_right_wheel",
                           "joint_back_left_wheel" ]
        </rosparam>
    </node>
</launch>

