<?xml version="1.0"?>
<model>
    <name>Quantico</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Andrew Dornbush</name>
        <email>andrew.dornbush@gmail.com</email>
    </author>

    <description>
        Setup for the demo in Ellis Hall in Quantico
    </description>
</model>
