<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find hdt)/config/urdf/husky_roboto.xacro'"/>
    <param name="robot_description_semantic" textfile="$(find hdt)/config/robots/husky_roboto/moveit/husky_roboto.srdf"/>
    <rosparam command="load" file="$(find hdt)/config/moveit/kinematics.yaml"/>
</launch>

