<launch>
    <arg name="live" default="true"/>
    <arg name="fake" default="false"/>
    <arg name="ns" default="false"/>

    <group if="$(arg live)">
        <node name="abs_nwu_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 abs_nwu map 50"/>
        <group if="$(arg fake)">
            <node name="map_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 abs_nwu base_footprint 100"/>
        </group>
    </group>
    <group unless="$(arg live)">
        <!-- to be removed: here solely to be able to use bag files with data stamped with the abs_nwu frame -->
        <node name="abs_nwu_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 abs_nwu map 50"/>

        <group if="$(arg fake)">
            <!-- fake localization -->
            <node name="map_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 abs_nwu odom_combined 100"/>
        </group>
        <group unless="$(arg fake)">
            <node name="hector_mapping" pkg="hector_mapping" type="hector_mapping">
                <rosparam command="load" file="$(find rcta)/config/localization/hector_mapping.yaml"/>
                <remap from="scan" to="base_scan"/>
            </node>
        </group>
    </group>
</launch>
