<launch>
    <arg name="live" default="true"/>
    <arg name="fake" default="false"/>
    <arg name="ns" default="false"/>

    <node name="abs_nwu_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 abs_nwu map 50"/>

    <group if="$(arg live)">
<!--        <node name="map_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom_combined 100"/> -->
    </group>
    <group unless="$(arg live)">
        <group if="$(arg fake)">
            <node name="map_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom_combined 100"/>
        </group>
        <group unless="$(arg fake)">
            <node name="hector_mapping" pkg="hector_mapping" type="hector_mapping">
                <rosparam command="load" file="$(find rcta)/config/localization/hector_mapping.yaml"/>
                <remap from="scan" to="base_scan"/>
            </node>
        </group>
    </group>
</launch>
