<?xml version="1.0"?>
<robot name="rcta_roman" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="namespace" default="false"/>

    <xacro:include filename="$(find roman_model)/urdf/talon.urdf.xacro"/>
    <xacro:include filename="$(find roman_model)/urdf/roman_body.urdf.xacro"/>
    <xacro:include filename="$(find roman_model)/urdf/robosimian_arm.urdf.xacro"/>

    <xacro:include filename="$(find roman_model)/gazebo/gazebo.urdf.xacro"/>

    <xacro:talon name="base" namespace="$(arg namespace)"/>

    <xacro:roman_body name="roman_body" parent="talon" namespace="$(arg namespace)">
        <!--
        <origin xyz="0.27 0 -0.05" rpy="0 1.5708 1.5708"/>
        -->
        <origin xyz="0.27 0 0.06" rpy="3.14 1.5708 1.5708"/>
    </xacro:roman_body>

    <!-- robosimian_l_arm origin was rpy="0 0.7854 -1.5708?"-->
    <xacro:robosimian_arm prefix="limb_left_" parent="chest" namespace="$(arg namespace)">
        <origin xyz="0.0705 0.025 -0.1" rpy="0 1.5708 -1.5708"/>
    </xacro:robosimian_arm>

    <!-- robosimian_r_arm origin was rpy="0 0.7854 -1.5708" ?-->
    <xacro:robosimian_arm prefix="limb_right_" parent="chest" namespace="$(arg namespace)">
        <origin xyz="0.0705 0.025 0.1" rpy="0 -1.57080 -1.5708"/>
    </xacro:robosimian_arm>
</robot>
