<launch>
    <arg name="live" default="true"/>
    <arg name="fake" default="false"/>

    <include file="$(find rcta)/launch/moveit/roman/roman_move_group.launch">
        <arg name="live" value="$(arg live)"/>
        <arg name="fake" value="$(arg fake)"/>
    </include>

    <node name="move_arm_node" pkg="rcta" type="move_arm_node" output="screen">
        <rosparam command="load" file="$(find rcta)/config/planning/move_arm_node.yaml"/>
    </node>
</launch>
