<launch>
    <!-- By default we do not overwrite the URDF. Change the following to -->
    <!-- true to change the default behavior -->
    <arg name="load_robot_description" default="false"/>

    <!-- The name of the parameter under which the URDF is loaded -->
    <arg name="robot_description" default="robot_description"/>

    <!-- Load universal robot description format (URDF) -->
    <include if="$(arg load_robot_description)" file="$(find roman_model)/robots/upload_rcta_roman.launch"/>

    <!-- The semantic description that corresponds to the URDF -->
    <param name="$(arg robot_description)_semantic" textfile="$(find rcta)/config/robots/roman/moveit/rcta_roman.srdf"/>

    <!-- Load updated joint limits (override information from URDF) -->
    <group ns="$(arg robot_description)_planning">
        <rosparam command="load" file="$(find rcta)/config/robots/roman/moveit/joint_limits.yaml"/>

        <!-- NOTE(Andrew): this parameter specifies the maximum timeout to wait
        for transforms for shapes (robot links, attached objects, scene
        geometry) to become available for filtering input point clouds.
        Currently, the arm appears to be updating slowly and failure to update
        transforms in this case throws away the entire point cloud
        -->
        <param name="shape_transform_cache_lookup_wait_time" value="0.5"/>
    </group>

    <!-- Load default settings for kinematics; these settings are overridden -->
    <!-- by settings in a node's namespace -->
    <group ns="$(arg robot_description)_kinematics">
        <rosparam command="load" file="$(find rcta)/config/robots/roman/moveit/kinematics.yaml"/>
    </group>
</launch>
