<launch>
    <arg name="ns" default="false"/>

    <arg name="start_x" default="-3.55"/>
    <arg name="start_y" default="-3.5"/>
    <arg name="start_z" default="1.2"/>
    <arg name="start_R" default="0.0"/>
    <arg name="start_P" default="0.0"/>
    <arg name="start_Y" default="3.1415"/>

    <include file="$(find roman_model)/robots/upload_rcta_roman.launch">
        <arg name="ns" value="$(arg ns)"/>
    </include>

    <node name="spawn_roman" pkg="gazebo_ros" type="spawn_model"
            args="-param robot_description -urdf -model rcta_roman
                  -x $(arg start_x) -y $(arg start_y) -z $(arg start_z)
                  -R $(arg start_R) -P $(arg start_P) -Y $(arg start_Y)"/>

    <include file="$(find hdt)/launch/roman_control.launch"/>
</launch>
