<launch>
    <include file="$(find hdt)/launch/upload_andalite.launch"/>

    <include file="$(find hdt)/launch/hdt_arm_driver.launch">
        <arg name="sim" value="true"/>
    </include>

    <node name="robotiq_simulator" pkg="hdt" type="robotiq_simulator" output="screen"/>
    <include file="$(find hdt)/launch/gripper_command_action.launch">
        <arg name="sim" value="true"/>
    </include>

    <!-- launch nodes that provide /joint_states -->
    <include file="$(find hdt)/launch/husky_simulator.launch"/>
    <node name="kinect_simulator" pkg="hdt" type="kinect_simulator" args="--mode=static -31"/>
    <include file="$(find hdt)/launch/fake_camera_calibration.launch"/>

    <!-- launch robot_state_publisher to translate urdf + /joint_states to /tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
