<launch>
	<include file="$(find hdt)/launch/upload_andalite_no_kinect.launch"/>

	<include file="$(find hdt)/launch/openni.launch"/>

	<!--
	<include file="$(find hdt)/launch/hdt_arm_driver.launch">
		<arg name="sim" value="false"/>
	</include>
	-->

	<!--
    	<node name="robotiq_controller" pkg="hdt" type="robotiq_controller" args="live" output="screen"/>
	-->

    	<!-- launch nodes that provide /joint_states -->
    	<include file="$(find hdt)/launch/husky_simulator.launch"/>

    	<node name="kinect_simulator" pkg="hdt" type="kinect_simulator" args="--mode=static -31"/>

    	<!-- launch robot_state_publisher to translate urdf + /joint_states to /tf -->
    	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>

