<launch>
    <!-- This launch file provides a simulated industrial robot

        Several nodes are started, to simulate low-level robot communication
        and higher-level actionlib support:
            - industrial_robot simulator : accepts motion commands and publishes robot state

        Usage:
            hdt_simulator.launch
    -->

    <rosparam> 
        /gripper_controller_joint_names: [ "finger1",
                                           "finger2" ]
    </rosparam> 

    <!-- industrial_robot_simulator: accepts robot commands and reports status -->
    <node pkg="industrial_robot_simulator" type="industrial_robot_simulator" name="gripper_hdt_industrial_robot_simulator">
        <remap from="/controller_joint_names" to="/gripper_controller_joint_names"/>
    </node>
</launch>

