<launch>
    <!-- This launch file provides a simulated industrial robot

        Several nodes are started, to simulate low-level robot communication
        and higher-level actionlib support:
            - industrial_robot simulator : accepts motion commands and publishes robot state

        Usage:
            hdt_simulator.launch
    -->

    <rosparam> 
        /hdt_controller_joint_names: [ "arm_1_shoulder_twist",
                                       "arm_2_shoulder_lift",
                                       "arm_3_elbow_twist",
                                       "arm_4_elbow_lift",
                                       "arm_5_wrist_twist",
                                       "arm_6_wrist_lift",
                                       "arm_7_gripper_lift" ] 
    </rosparam> 

    <!-- industrial_robot_simulator: accepts robot commands and reports status -->
    <node pkg="industrial_robot_simulator" type="industrial_robot_simulator" name="hdt_industrial_robot_simulator">
        <remap from="/controller_joint_names" to="/hdt_controller_joint_names"/>
    </node>
</launch>

