<launch>
    <node name="hdt_arm_planning_node" pkg="hdt_arm_planning" type="hdt_arm_planning_node" output="screen">
        <rosparam command="load" file="$(find hdt_arm_planning)/config/hdt_arm_planner.yaml"/>
        <rosparam command="load" file="$(find hdt_arm_planning)/config/hdt_collision_checking.yaml"/>
        <param name="action_set_filename" value="$(find hdt_arm_planning)/config/pr2.mprim"/>
        <!-- <param name="object_filename" value="$(find sbpl_arm_planner_test)/env/tabletop_hdt.env"/> -->
        <remap from="command" to="joint_path_command"/>
    </node>
</launch>
