<launch>
    <arg name="sim" default="false"/>
    <node name="hdt_arm_driver" pkg="hdt" type="hdt_arm_driver" output="screen">
        <param name="sim" value="$(arg sim)"/>
        <param name="hdt_manipulator_config" value="$(find hdt)/config/HDTManipulatorParameters.lua"/>
        <param name="hdt_manipulator_params" value="$(find hdt)/config/HDTManipulatorParameters.txt"/>
    </node>

    <node name="joint_states_filter" pkg="hdt" type="joint_states_filter"/>
</launch>
