<launch>
    <rosparam>
        /robotiq_controller_joint_names: [
            "palm_finger_1_joint",
            "palm_finger_2_joint",
            "palm_finger_middle_joint",
            "finger_1_joint_1",
            "finger_1_joint_2",
            "finger_1_joint_3",
            "finger_2_joint_1",
            "finger_2_joint_2",
            "finger_2_joint_3",
            "finger_middle_joint_1",
            "finger_middle_joint_2",
            "finger_middle_joint_3"
        ]
    </rosparam>

    <node pkg="industrial_robot_simulator" type="industrial_robot_simulator" name="robotiq_industrial_simulator">
        <remap from="/controller_joint_names" to="/robotiq_controller_joint_names"/>
    </node>
</launch>

