<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find hdt_description)/urdf/phantom_arm_robot.xacro'"/>
    <param name="robot_description_semantic" textfile="$(find hdt_moveit_config)/config/phantom_arm_robot.srdf"/>
    <rosparam command="load" file="$(find hdt_moveit_config)/config/kinematics.yaml"/>
</launch>

