<launch>
    <group ns="roman1">
        <include file="$(find grasping_executive)/launch/grasp_object_executor.launch">
            <arg name="cloud_topic" value="realsense2/depth_registered/points"/>
            <arg name="map_topic" value="map"/>
            <arg name="grasp_planner" value="TODO: find_jpl_grasp_planner"/>
            <arg name="gripper_command_action_name" value="rcta_right_robotiq_controller"/>
        </include>
    </group>
</launch>
