<launch>
    <arg name="live" default="true"/>
    <arg name="fake" default="false"/>

    <arg name="ns" default="false"/>

    <!-- start pose for the robot in gazebo, used with roman_control_sim_real.launch -->
    <arg name="start_x" default="-3.55"/>
    <arg name="start_y" default="-3.5"/>
    <arg name="start_z" default="0.0"/>
    <arg name="start_R" default="0.0"/>
    <arg name="start_P" default="0.0"/>
    <arg name="start_Y" default="3.1415"/>

    <group if="$(arg live)">
        <group if="$(arg fake)">
            <!-- LIVE/FAKE -->
            <include file="$(find roman_manipulation)/launch/roman_control_live_fake.launch"/>
        </group>
        <group unless="$(arg fake)">
            <!-- LIVE/REAL -->
            <include file="$(find roman_manipulation)/launch/roman_control_live_real.launch"/>
        </group>
    </group>
    <group unless="$(arg live)">
        <group if="$(arg fake)">
            <!-- SIM/FAKE -->
            <include file="$(find roman_manipulation)/launch/roman_control_sim_fake.launch"/>
        </group>
        <group unless="$(arg fake)">
            <!-- SIM/REAL -->
            <include file="$(find roman_manipulation)/launch/roman_control_sim_real.launch"/>
        </group>
    </group>
</launch>
