<launch>
    <arg name="live" default="true"/>
    <arg name="fake" default="false"/>

    <arg name="ns" default="false"/>

    <!-- start pose for the robot in gazebo, used with roman_control_sim_real.launch -->
    <arg name="start_x" default="-3.55"/>
    <arg name="start_y" default="-3.5"/>
    <arg name="start_z" default="0.0"/>
    <arg name="start_R" default="0.0"/>
    <arg name="start_P" default="0.0"/>
    <arg name="start_Y" default="3.1415"/>

    <group unless="$(arg live)">
        <group if="$(arg fake)">
            <!-- SIM/FAKE -->
            <include file="$(find roman_manipulation)/launch/roman_control_sim_fake.launch"/>
        </group>
        <group unless="$(arg fake)">
            <!-- SIM/REAL -->
            <include file="$(find roman_manipulation)/launch/roman_control_sim_real.launch"/>
        </group>
    </group>
    <group if="$(arg live)">
        <group ns="roman1">
            <node name="trajectory_dispatcher" pkg="roman_simulation" type="trajectory_dispatcher">
                <param name="follow_joint_trajectory_action_name" value="rcta_joint_trajectory_controllers"/>
            </node>
        </group>
    </group>
</launch>
