<launch>
    <arg name="gui" default="false"/>
    <arg name="world_name" default="$(find rcta)/worlds/quantico.world"/>

    <node if="$(arg gui)" name="gzclient" pkg="gazebo_ros" type="gzclient"/>

    <include file="$(find roman_simulation)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="false"/>
    </include>
</launch>
