<launch>
    <include file="$(find roman_model)/robots/upload_rcta_roman.launch"/>
    <node name="robot_simulator" pkg="roman_simulation" type="robot_simulator"/>
    <rosparam command="load" file="$(find roman_simulation)/config/roman_control_sim.yaml"/>

    <!-- This node is the culprit that won't die on C-c (at least in indigo)
    since it attempts to unload the controllers after the controller manager
    has already died. The shutdown-timeout argument makes this less terrible,
    but it is deprecated in xenial/kinetic.
    -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
            args="--shutdown-timeout 0.5 joint_state_controller rcta_joint_trajectory_controller
                  rcta_left_robotiq_controller rcta_right_robotiq_controller rcta_velocity_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="fake_localization" pkg="tf" type="static_transform_publisher"
            args="0 0 0 0 0 0 map odom 16"/>

    <node name="trajectory_dispatcher" pkg="roman_simulation" type="trajectory_dispatcher"/>

    <node name="gripper_command_action_server" pkg="roman_simulation" type="gripper_command_action_server"/>
</launch>
