<launch>
    <arg name="sim" default="false"/>
    <group if="$(arg sim)">
        <node pkg="hdt" name="gripper_command_action" type="gripper_command_action">
                <rosparam command="load" file="$(find rcta)/config/gripper_command_action_sim.yaml"/>
        </node>
    </group>

    <group unless="$(arg sim)">
        <node pkg="hdt" name="gripper_command_action" type="gripper_command_action">
            <rosparam command="load" file="$(find rcta)/config/gripper_command_action_live.yaml"/>
        </node>
    </group>
</launch>
