<launch>
    <rosparam command="load" file="$(find rcta)/config/roman_control.yaml"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
            args="
                    joint_state_controller
                    left_limb_joint_trajectory_controller
                    right_limb_joint_trajectory_controller
                    torso_joint1_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
