<launch>
    <rosparam command="load" file="$(find rcta)/config/control/roman_control.yaml"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
            args="
                    joint_state_controller
                    left_limb_joint_trajectory_controller
                    right_limb_joint_trajectory_controller
                    torso_joint1_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="virtual_joint_broadcaster_0" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 odom_combined base_footprint 100"/>
</launch>
